AudioCraft==1.2.0
gradio==4.24.0
transformers==4.39.2
soundfile==0.12.1
TTS==0.22.0
openai-whisper==20231117
GitPython==3.1.42
diffusers==0.27.2
llama-cpp-python==0.2.57
python-ffmpeg==2.0.10
torch==2.2.1
